@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.mr-2, .mx-2 {
    margin-right: .2rem!important;
}


.navbar-brand{
    font-family: 'pacifico';
    font-size: 3rem;
    font-weight: bolder;
    background: -webkit-gradient(linear, left top , right bottom, from(#fa8704), to(#9d0ce0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/* .fa-shopping-cart{
    background: -webkit-gradient(linear, left top , right bottom, from(#fa8704), to(#9d0ce0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}  */

.nav-item{
    font-size: 1.3rem;
    font-weight: 600;
}
.navbar-dark .navbar-nav .active>.nav-link:hover{
    color: #fa8704;
    transition: ease-in-out 0.5s;
}
.btn-success{
    background: -webkit-gradient(linear, left top , right bottom, from(#fa8704), to(#9d0ce0));
    border-color: #fff;
}
.btn-success:hover{
    background: #9d0ce0;
    transition: ease-in-out 0.5s;
    border-color: #fa8704;

}

.row{
    padding-top: 50px;
    padding-bottom: 50px;
}

.col-6{
    padding-bottom: 2em;
}

.card {
    height: 100%;
}

.card .btn {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
}

.card .card-text {
    padding-bottom: 1.5rem;
    text-align: center;
}

.card .card-title{
    text-align: center;
}
