@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.mr-2, .mx-2 {
    margin-right: .2rem!important;
}

body{
    padding-bottom: 5em;
}

.navbar-brand{
    font-family: 'pacifico';
    font-size: 3rem;
    font-weight: bolder;
    background: -webkit-gradient(linear, left top , right bottom, from(#fa8704), to(#9d0ce0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/* .fa-shopping-cart{
    background: -webkit-gradient(linear, left top , right bottom, from(#fa8704), to(#9d0ce0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}  */

.nav-item{
    font-size: 1.3rem;
    font-weight: 600;
}
.navbar-dark .navbar-nav .active>.nav-link:hover{
    color: #fa8704;
    transition: ease-in-out 0.4s;
}
.btn-success{
    background: -webkit-gradient(linear, left top , right bottom, from(#fa8704), to(#9d0ce0));
    border-color: #fff;
}
.btn-success:hover{
    background: #9d0ce0;
    transition: ease-in-out 0.5s;
    border-color: #fa8704;

}

.row{
    padding-top: 50px;
    padding-bottom: 50px;
}

.col-6{
    padding-bottom: 2em;
}

.card {
    height: 100%;
}

.card .btn {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
}

.card .card-text {
    padding-bottom: 1.5rem;
    text-align: center;
}

.card .card-title{
    text-align: center;
    font-size: 2em;
}

.card .card-price {
    font-size: 1.3em;
}

.btn-secondary{
    border-radius: 50%;
    margin: 10px;
    width: 80px;
    height: 80px;
    padding: 20px;
    font-size: 0.6rem;
    margin-right: 2rem;
    border-color: #000000;
    text-align: center;
    
}
/* Couleurs teddies */
#Tan {
    background-color: #D2B48C;
}
#Chocolate{
    background-color: #5a3a22;
}
#Black{
    background-color: #000000;
}
#White{
    background-color: #fff;
    color: #000000;
}
#Pale#brown{
    background-color: #Ae8964;
}
#Dark#brown{
    background-color: #654321;
}
#Brown{
    background-color: #A52A2A;
}
#Blue{
    background-color: #000080;
}
#Pink{
    background-color: #ffc0cb;
    color: #000000;
}
#Beige{
    background-color: #F5F5DC;
    color: #000000;
}
/* fin Couleurs teddies */
@media only screen and (max-device-height:850px) 
 {
    .row{
        flex-direction: column;
    } 
    .navbar-brand {
        font-size: 2rem;
    }
}

.add-cart{
    position: relative;
    right: -50%;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;

}

* {
    margin: 0;
    padding: 0;
}

html {
    position: relative;
    min-height: 100%;
}

#cardContainer{
    align-items: center;
}
#cardProduct{
    padding-top: 25%;
    padding-bottom: 25%;
}


/* Mise en page Forms */


.title_confirm {
    padding: 20px 40px;
}

.title_confirm h2 {
    margin: 0;
    text-align: center;
    border-top: 2px solid #dee2e6;
    width: 100%;
}

.form {
    padding: 30px 40px;
}

.form-control {
    height: inherit;
    border: inherit;
    padding-bottom: 20px;
    position: relative;
}

.form-control label {
    display: inline-block;
    margin-bottom: 5px;
}

.form-control input {
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    font-family: inherit;
    font-size: 14px;
    padding: 10px;
    width: 100%;
}

.form-control.sucess input{
    border-color: #2ecc71;
}
.form-control.error input {
    border-color: #e74c3c;
}

.form-control i {
    position: absolute;
    top: 48px;
    right: 22px;
    visibility: hidden;
}

.form-control.sucess i.fa-check-circle{
    color: #2ecc71;
    visibility: visible;
}
.form-control.error i.fa-exclamation-circle{
    color: #e74c3c;
    visibility: visible;
}

.form-control small {
    visibility: hidden;
    position: absolute;
    bottom: 0;
    left: 14px;
    font-size: 1em;
}
.form-control.error small{
    visibility: visible;
    color: #e74c3c;
}

.form button {
    font-size: 16px;
    padding: 10px;
    width: 100%;
}


/* Check Bag (confirm.html) */
#emailContainer {
    flex-direction: column-reverse;
    text-align: center;
}

.check_bag{
    position: relative;
    font: bold 600% sans-serif;
}

.check_bag .fa-shopping-bag,
.check_bag .fa-check {
    position: absolute;
    margin:0px;
    top: 0px;
    left: 0px;
    
}

.check_bag .fa-shopping-bag {
    z-index: 0;
    color: #343a40;
}

.check_bag .fa-check{
    z-index: 1;
    color: #2ecc71;
}